body {
    width:100%;
    height:100%;
    margin:0%;
    background-color: #eeeeee;
    }


.PDPVotersSentiments,.PDP_Cloud,.APCVotersSentiments,.APC_Cloud_freq,.apc_cloud,.PDP_Cloud_freq{
    height: 300px;
    flex: 1 0 300px;
}
.dashboard-flex-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
}

.dashboard-flex-container>div {
    margin:0.5em;
    background-color: #fff;
    box-shadow: 1px 1px 1px #ccc;
    width: 100%;
    height: 100%;
}

