body {
    width:100%;
    height:100%;
    margin:0%;
    background-color: #eeeeee;
    
}
nav{
  margin-bottom: 10px;
}
@import 'https://code.highcharts.com/css/highcharts.css';

.highcharts-background {
  fill: #efefef;
  stroke: #a4edba;
  stroke-width: 2px;
}

.IncomePartyChoice, .RegionAgeGroup, .PollsResult, .EmploymentStatusVoters, .GenderVotesAccrossParty,
 .PoliticalRegion{
    height: 350px;
    flex: 1 0 300px;
    flex-wrap: wrap;
}


.PDPVotersSentiments,.PDP_Cloud,.APCVotersSentiments,.APC_Cloud_freq,.apc_cloud,.PDP_Cloud_freq{
    height: 350px;
    flex: 1 0 300px;
    flex-wrap: wrap;
    position: relative;
}
.atikuVotersSentiments,.atiku_Cloud,.buhariVotersSentiments,.buhari_ass_words,.buhari_cloud,.atiku_ass_word{
    height: 350px;
    flex: 1 0 300px;
    flex-wrap: wrap;
    position: relative;
}

.box{
    height: 350px;
    flex: 1 0 300px;
    flex-wrap: wrap;
    position: relative;
    
}



.dashboard-flex-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
img {
     float: right;
}

object {
     width: 97.5%;
     height: 82%;
}

.dashboard-flex-container>div {
    margin:0.5em;
    background-color: #efefef;
    box-shadow: 1px 1px 1px #ccc;
    max-width: auto;
    flex: 1 0 350px;
    flex-wrap: wrap;
    position: relative;
}


body {
  margin: 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: 415px 415px 415px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
  height: 500px;
  margin-top: 20px;
  margin-bottom: -50px;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
 
}
.box p{
    font-style:'sans-serif'
    font-size:2 em;
}






/* Primary Styles */
*, *::before, *::after {
   box-sizing: border-box;
}

body {
   font-family: sans-serif;
   font-size: 1em;
   color: #333;
}

h1 {
  font-size: 1.4em;
}

em {
   font-style: normal;
}

a {
   text-decoration: none;
   color: inherit;
} 

/* Layout */
.s-layout__sidebar{
    position: relative;
}
.s-layout {
   display: flex;
   width: 100%;
   min-height: 100vh;
}

.s-layout__content {
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1;
}

/* Sidebar */
.s-sidebar__trigger {
   z-index: 2;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 4em;
   background: #192b3c;
}

.s-sidebar__trigger > i {
   display: inline-block;
   margin: 1.5em 0 0 1.5em;
   color: #f07ab0;
}

.s-sidebar__nav {
   position: fixed;
   top: 0;
   left: -15em;
   overflow: hidden;
   transition: all .3s ease-in;
   width: 15em;
   height: 100%;
   background: #243e56;
   color: rgba(255, 255, 255, 0.7);
}

.s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:focus + .s-sidebar__nav,
.s-sidebar__trigger:hover + .s-sidebar__nav {
   left: 0;
}

.s-sidebar__nav ul {
   position: absolute;
   top: 4em;
   left: 0;
   margin: 0;
   padding: 0;
   width: 15em;
}

.s-sidebar__nav ul li {
   width: 100%;
}

.s-sidebar__nav-link {
   position: relative;
   display: inline-block;
   width: 100%;
   height: 4em;
}

.s-sidebar__nav-link em {
   position: absolute;
   top: 50%;
   left: 4em;
   transform: translateY(-50%);
}

.s-sidebar__nav-link:hover {
   background: #4d6276;
}

.s-sidebar__nav-link > i {
   position: absolute;
   top: 0;
   left: 0;
   display: inline-block;
   width: 4em;
   height: 4em;
}

.s-sidebar__nav-link > i::before {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

/* Mobile First */
@media (min-width: 42em) {
   .s-layout__content {
      margin-left: 4em;
   }
   
   /* Sidebar */
   .s-sidebar__trigger {
      width: 4em;
   }
   
   .s-sidebar__nav {
      width: 4em;
      left: 0;
   }
   
   .s-sidebar__nav:hover,
   .s-sidebar__nav:focus,
   .s-sidebar__trigger:hover + .s-sidebar__nav,
   .s-sidebar__trigger:focus + .s-sidebar__nav {
      width: 15em;
   }
}

@media (min-width: 68em) {
   .s-layout__content {
      margin-left: 15em;
   }
   
   /* Sidebar */
   .s-sidebar__trigger {
      display: none
   }
   
   .s-sidebar__nav {
      width: 15em;
   }
   
   .s-sidebar__nav ul {
      top: 1.3em;
   }
}

